/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#追記
public/js/app.js
public/css/app.css

#ゼミサーバで追記
bootstrap/*/.gitignore
storage/*/.gitignore
