.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: rgba(246, 244, 239, 0.6);
  z-index: 300;

  &__logo {
    width: 80px;

  }

  &__link{
    display: inline;
    color: $mainNavy;
    font-family: hellogalleriasans;
    font-size: 18px;

    &:focus{
      outline: none;
    }
    &:hover{
      color: $mainNavy;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__navs {
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 280px;
  }
}