.post {
  margin: 130px 7%;

  &__status {
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 12px;
    padding-left: 18px;
    border-bottom: 1px solid $mainBeige;

    & label {
      position: relative;
      margin-bottom: 0;
      margin-right: 15px;
      padding-left: 26px;
      font-size: 24px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: white;
        border: 1px solid $mainNavy;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
    & .input:checked {
      & + label::before {
        background: $mainNavy;
      }
      & + label::after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 8px;
        width: 6px;
        height: 6px;
        background: white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & span {
      font-size: 18px;
      margin-left: 20px;
    }
  }
}