.login,
.signup {
  &__area {
    position: absolute;
    top: 55%;
    right: 15%;
    width: 270px;
    padding: 30px 15px;
    background-color: $body-bg;
    border-radius: 5px;
    transform: translateY(-50%);
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-style: italic;
  }

  &__form {
    & label {
      display: block;
      margin-bottom: 0;
    }

    & input,
    select {
      width: 100%;
      height: 35px;
    }

    & .input {
      margin-bottom: 25px;
      padding: 4px 8px;
      background-color: #fff;
      border: 1px solid $mainBeige;
      border-radius: 6px;
    }

    & .gender {
      & label {
        position: relative;
        z-index: 5;

        &::after {
          content: "";
          position: absolute;
          top: 140%;
          right: 17px;
          width: 10px;
          height: 10px;
          border-left: 1px solid #c29e86;
          border-bottom: 1px solid #c29e86;
          transform: rotate(-45deg);
          pointer-events: none;
          z-index: 10;
        }
      }
    }
  }

  &__btn-wrapper {
    margin-bottom: 15px;

    & .btn {
      background-color: $mainBeige;
      color: white;
      font-size: 14px;
    }
  }

  &__message {
    margin-bottom: 13px;
    text-align: center;
    font-size: 10px;
  }

  &__to-login,
  &__to-signup {
    text-align: center;
    font-size: 14px;

    & .link {
      margin-left: 3px;
      color: $mainBeige;
      font-style: italic;
    }
  }

  &__second-page {
    display: none;
  }
}
